<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="agent"/>
    
    <node pkg="$(arg project)" type="$(arg project)_imuPreintegration"   name="$(arg agent)_$(arg project)_imuPreintegration"    output="screen" 	respawn="true"      args="$(arg agent)"/>
    <node pkg="$(arg project)" type="$(arg project)_imageProjection"     name="$(arg agent)_$(arg project)_imageProjection"      output="screen"     respawn="true"      args="$(arg agent)"/>
    <node pkg="$(arg project)" type="$(arg project)_featureExtraction"   name="$(arg agent)_$(arg project)_featureExtraction"    output="screen"     respawn="true"      args="$(arg agent)"/>
    <node pkg="$(arg project)" type="$(arg project)_mapOptmization"      name="$(arg agent)_$(arg project)_mapOptmization"       output="screen"     respawn="true"      args="$(arg agent)"/>
    
</launch>