<launch>

    <arg name="project" default="lio_sam"/>
    <arg name="agent"/>
    
    <!-- Parameters -->
    <rosparam file="$(find lio_sam)/config/params.yaml" subst_value="true" command="load">
        <arg name="agent" value="$(arg agent)"/>
    </rosparam>

    <!--- LOAM -->
    <!-- <group ns="$(arg agent)">
        <include file="$(find lio_sam)/launch/include/module_loam.launch" />
    </group> -->
    <include file="$(find lio_sam)/launch/include/module_loam.launch">
        <arg name="agent" value="$(arg agent)"/>
    </include>

    <!--- Robot State TF -->
    <!-- <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" /> -->

    <!--- Run Navsat -->
    <!-- <include file="$(find lio_sam)/launch/include/module_navsat.launch" /> -->

    <!--- Run Rviz-->
    <include file="$(find lio_sam)/launch/include/module_rviz.launch">
        <arg name="agent" value="$(arg agent)"/>
    </include>

</launch>
